# Values for Development environment
replicaCount: 1

image:
  repository: ghcr.io/geraldobl58/nexo-be
  tag: "develop-427a10e234eecf37ae56fdac6ea194114cf728f7"
  pullPolicy: Always

imagePullSecrets:
  - name: ghcr-secret

ingress:
  enabled: true
  className: "nginx"
  annotations:
  hosts:
    - host: develop-be.nexo.local
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 10m
    memory: 64Mi

autoscaling:
  enabled: false

env:
  NODE_ENV: development
  PORT: "3000"
  LOG_LEVEL: debug
  SWAGGER_ENABLED: "true"
  METRICS_ENABLED: "true"
  KEYCLOAK_URL: "http://develop-auth.nexo.local"
  KEYCLOAK_INTERNAL_URL: "http://nexo-auth-develop:8080"
  KEYCLOAK_REALM: nexo

podDisruptionBudget:
  enabled: false

podAnnotations:
  app.kubernetes.io/commit: "427a10e"

metrics:
  enabled: false
  path: /metrics
  serviceMonitor:
    enabled: false
