# Values for Development environment (DigitalOcean)
replicaCount: 1

image:
  repository: ghcr.io/geraldobl58/nexo-be
  tag: "develop-079ac8cdce90e49299db0dbd3125b7871a968f9b"
  pullPolicy: Always


ingress:
  enabled: true
  className: "nginx"
  annotations:
  hosts:
    - host: develop.api.nexo.local
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 10m
    memory: 64Mi

autoscaling:
  enabled: false

env:
  NODE_ENV: development
  PORT: "3000"
  LOG_LEVEL: debug
  SWAGGER_ENABLED: "true"
  METRICS_ENABLED: "true"
  KEYCLOAK_URL: "http://develop.auth.nexo.local"
  KEYCLOAK_INTERNAL_URL: "http://nexo-auth-develop:8080"
  KEYCLOAK_REALM: nexo

podDisruptionBudget:
  enabled: false

podAnnotations:
  app.kubernetes.io/commit: "079ac8c"

metrics:
  enabled: false
  path: /metrics
  serviceMonitor:
    enabled: false
