# Values for QA environment
replicaCount: 1

image:
  repository: ghcr.io/geraldobl58/nexo-be
  tag: "qa-4fc07226d6eb2a44d61c249e8051d3a6ea36a475"
  pullPolicy: Always

imagePullSecrets:
  - name: ghcr-secret

ingress:
  enabled: true
  className: "nginx"
  annotations:
  hosts:
    - host: qa-be.nexo.local
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 10m
    memory: 64Mi

autoscaling:
  enabled: false

env:
  NODE_ENV: production
  PORT: "3000"
  LOG_LEVEL: info
  SWAGGER_ENABLED: "true"
  METRICS_ENABLED: "true"
  KEYCLOAK_URL: "http://qa-auth.nexo.local"
  KEYCLOAK_INTERNAL_URL: "http://nexo-auth-qa:8080"
  KEYCLOAK_REALM: nexo

podDisruptionBudget:
  enabled: false

podAnnotations:
  app.kubernetes.io/commit: "4fc0722"

metrics:
  enabled: false
  path: /metrics
  serviceMonitor:
    enabled: false
